<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <title>Course Recommendation</title>
    <link rel= "stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Course Catalog</h1>
    </header>
    {% include 'top_nv.html' %}
    <main>
    <section>
        <h1>About Us</h1>
        <p>This is a basic prototype web app that will be further developed into a mobile application</p>
    </section>

    <section>
        <h2>Our Team</h2>
        <ul>
        <li>
            <h3>John Doe</h3>
            <p>Write a brief description of John Doe.</p>
        </li>
        <li>
            <h3>Jane Smith</h3>
            <p>Write a brief description of Jane Smith.</p>
        </li>
        <!-- Add more team members if needed -->
        </ul>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>Include your contact information here, such as email, phone number, or address.</p>
    </section>
    </main>

    <footer>
    <p>&copy; 2023 Course Recommendation System</p>
    </footer>
</body>
</html>
