<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Recommendation</title>
    <link rel= "stylesheet" href="../static/styles.css">
    <title>Course Catalog</title>
</head>
<body>
    <header>
        <h1>Course Catalog</h1>
    </header>
    {% include 'top_nv.html' %}
    <div id="course-list">
        <!-- Search results will be dynamically populated here -->
        {{all_courses|safe}}
    </div>
    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>
</body>
</html>
